# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
/server/node_modules/
package-lock.json
package-lock.json.*
~$$Design.~vsdx
